#~---------Application settings---------
appName=Credit Worthiness System
appVersion=0.1
appInfo=0.0.1

#~---------database settings---------
dbName=cws
dbHost=localhost
dbPort=3306
dbUsername=root
dbPassword=reagan7351
dbType=mysql

#~---------Application Information settings---------
aboutInfo=This application was developed towards fulfiling a masters degree

#~---------Chart Display settings---------
creditPlotDisplayed=yes
hoverTransactionPopupDefaultOn=yes
chartInitialDisplayMonthYear=current

#~---------Application Images settings---------
imagesLocation=../images
defaultUserImageIcon=../images/defaultPic.png
