#~---------Application settings---------
appName=Credit Worthiness System
appVersion=0.1

#~---------database settings---------
#dbName=cws
dbName=database
#dbHost=localhost
dbHost=
dbPort=
#dbPort=3306
dbUsername=sa
#dbUsername=root
dbPassword=
#dbPassword=reagan7351
dbType=h2
#dbType=mysql

#~---------Application Information settings---------
aboutInfo=This application was developed towards fulfiling a masters degree

#~---------Chart Display settings---------
creditPlotDisplayed=yes
hoverTransactionPopupDefaultOn=no
# This may be indicated as <month/year> or "current". The months span
# from January - 0 to December - 11
chartInitialDisplayMonthYear=current

#~---------Application Images settings---------
imagesLocation=../images
defaultUserImageIcon=../images/defaultPic.png
