#~---------Application settings---------
appName=Credit Worthiness System
appVersion=0.1
appInfo=0.0.1

#~---------database settings---------
dbName=cws
dbHost=localhost
dbPort=3306
dbUser=root
dbPass=reagan7351
dbType=mysql

#~---------Application Information settings---------
AboutInfo="This application was developed towards fulfiling a masters degree"

#~---------Chart Display settings---------
CreditPlotDisplayed=yes
HoverTransactionPopupDefaultOn=yes
ChartInitialDisplayMonthYear="current"

#~---------Application Images settings---------
ImagesLocation=../images
DefaultUserImageIcon=../images/defaultPic.png